#about{
    font-family: 'Roboto Slab' !important;
    height: 100vh;
    h2{
        font-size: 4em;
        margin-bottom: 1em;
    }
p{
    font-size: 2em;
    letter-spacing: .1em; 
        margin-bottom: 1em;
}
}