#homePages{
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    color: $BLACK;
    font-family: 'Roboto Slab', serif;
    
    .title{ 
        height: fit-content;
        
        &::before{
            content: "";
            width: 400px;
            height: 100%;
            background-color: $alice-blue;
        }
        
        h1{
            // font-size: 4em;
            font-weight: 600;
            // text-align: center;
            
        }
    }
    
   
}