

/* SCSS HEX */
$BLACK: #010913ff;
$WHITE: #ece8efff;
$mid: rgb(125, 125, 125);
$alice-blue: #e7f0ffff;
$cinnabar: #dc493aff;
$coral-pink: rgb(71, 56, 100);

/* SCSS HSL */
$BLACKm: hsla(213, 90%, 4%, 0.5);
$WHITEm: hsla(0, 0%, 100%, 0.5);
$MIDm: rgba(125, 125, 125, 0.5);
$alice-blue: hsla(218, 100%, 95%, 1);
$cinnabar: hsla(6, 70%, 55%, 1);

