#Works{
    min-height: fit-content;

    h2:nth-child(1){
        font-size: 4em;
        margin-bottom: 1em;
    }



.projet{
    
    margin-bottom: 10%;  
    min-height: 100vh;
    height: fit-content;
    
    

    
   
    .projet-text{
        h2{
            font-size: 2em;
            margin-bottom: 1em;
          
            
        }
        p{
            font-size: 1.2em;
            
        }
    }
    .projet-image{
        content: '';
        aspect-ratio: 2/3;
        // height: 100%;
        // width: auto;
        background-size:cover  ;
        background-repeat: no-repeat;
        background-position:  center top;  
        // background-size: 110%;
        transition: all .7s ease-in-out;

        &:hover{
            background-position: center bottom;
            transition: all .7s ease-in-out; 
        } 
    
    }
}    
.projet1{  
    .projet-image{
        background-image: url("../images/equaliser.jpg");
       
    }
}

.projet2{
    grid-template-columns: 2fr 1fr ;
    .projet-image{
        background-image: url("../images/interactive.jpg");
        
        
    }
}
.projet3{
    .projet-image{
        background-image: url("../images/kome-waza_page.jpg");
    }
}
.projet4{
    grid-template-columns: 2fr 1fr ;
    .projet-image{
        background-image: url("../images/Gallery.jpg");
        
    }
}


.wrapper{
   
    
    a{
      display: block;
      width: 200px;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-family: sans-serif;
      text-decoration: none;
      color: #333;
      border: 2px solid #333;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      transition: all .35s;
      span{
          position: relative;
          z-index: 2;
          &:hover{
              color: $WHITE !important;
          }
      }
      
      &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $BLACK;
        transition: all .35s;

      }
      
      &:hover{
        color: $WHITE;
      }
      
      &:hover:after{
        width: 100%;
      }
    }
    
  }
  
}

