#Works{
    min-height: fit-content;

    h2:nth-child(1){
        font-size: 4em;
        margin-bottom: 1em;
    }



.projet{
    
    margin-bottom: 10%;  
    min-height: 100vh;
    height: fit-content;
    
    

    
   
    .projet-text{
        h2{
            font-size: 2em;
            margin-bottom: 1em;
          
            
        }
        p{
            font-size: 1.2em;
            
        }
    }
    .projet-image{
        content: '';
        aspect-ratio: 2/3;
        height: 100%;
        width: auto;
        background: cover no-repeat center top;
        transition: all .7s ease-in-out;

        &:hover{
            background-position: center bottom;
            transition: all .7s ease-in-out; 
        } 
    
    }
}    
.projet1{  
    .projet-image{
        background-image: url("../images/equaliser.jpg");
       
    }
}

.projet2{
    grid-template-columns: 2fr 1fr ;
    .projet-image{
        background-image: url("../images/interactive.jpg");
        
        
    }
}
.projet3{
    .projet-image{
        background-image: url("../images/kome-waza_page.jpg");
    }
}
.projet4{
    grid-template-columns: 2fr 1fr ;
    .projet-image{
        background-image: url("../images/maquette-zanzibar-1.png");
        
    }
}


}